<section>
  <!-- el deporte escrito en el dialog no aparece al hacer clic en Aceptar -->
  <mat-form-field appearance="fill">
    <!-- color="accent" -->
    <mat-label for="nombreInput">¿Cuál es tu nombre?</mat-label>
    <input matInput [(ngModel)]="name" type="text" id="nombreInput" name="nombreInput">
  </mat-form-field>

  <div>
    <p *ngIf="name">Hola, {{name}} ¿Cuál es tu deporte favorito?</p>
  </div>

  <button mat-raised-button (click)="openDialog()">Click aquí</button>

  <p *ngIf="sport">
    Tu deporte favorito es: <i>{{sport}}</i>
  </p>

</section>



<style>
  mat-form-field,
  input {
    width: 100% !important;
  }

  section {
    margin: 3rem;
    background-color: cornflowerblue;
    padding: 2rem;
    width: 30rem;
    border-radius: .5rem;
  }
</style>